@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "omnes";
  src: url("./fonts/omnes/Omnes Bold.woff") format("woff"),
    url("./fonts/omnes/Omnes Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("./fonts/neue/NeueHaasUnicaPro-Regular.ttf") format("woff"),
    url("./fonts/neue/NeueHaasUnicaPro-Light.ttf") format("woff"),

    url("./fonts/neue/NeueHaasUnicaPro-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neu";
  src: url("./fonts/neue/NeueHaasUnicaPro-Medium.ttf") format("woff"),
    url("./fonts/neue/NeueHaasUnicaPro-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F4F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "omnes";
}

p, span {
  font-family: "neue";
}

ul, li {
  font-family: "neu";
}